body {
	font-family: "Poppins", sans-serif;
	margin: 50px 50px 0 50px;
	background-color: #faf9f6;
	display: flex;
	flex-direction: column;
	min-height: 95vh;
	margin: 10px;
}
.main {
	flex: 1;
}

h1 {
	font-size: 23px;
	text-align: center;
}

footer {
	text-align: right;
	color: midnightblue;
}

img {
	max-width: 100%;
}

/* .text-content {
	padding: 0 10px;
} */

.logo {
	display: block;

	margin: 10px auto;
}

.card {
	margin-bottom: 10px;
}

@media (min-width: 760px) {
	.main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 100px auto auto;
	}

	header {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.left {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	.right {
		grid-column-start: 2;
		grid-column-end: 3;
	}

	.content {
		margin-top: 20px;
		grid-row-start: 2;
	}
}
